language: ruby

before_install:
  - gem update bundler

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - bundle exec rake db:setup

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2

env:
  - RAILS_VERSION="~> 4.0.0"
  - RAILS_VERSION="~> 4.1.0"
  - RAILS_VERSION="~> 4.2.0"

matrix:
  include:
    - rvm: 2.2.4
      env: RAILS_VERSION="~> 5.0.0.beta"
