<% if flash.any? %>
  <div style="margin: 15px; margin-bottom: 0;" 
  <% if flash[:notice] %>
    <div class='alert alert-success'>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash.alert %>
    <div class='alert alert-danger'>
      <%= flash[:alert] %>

      <% if @locale.errors['translations.variables'] %>
        <br> 
        <br> 
        <%= @locale.errors['translations.variables'].join("<br>").html_safe %>
      <% end %>
    </div>
  <% end %>
<% end %>
