<div class="gtranslate-wrapper">
  <a class="btn btn-info gtranslate js-gtranslate-all" data-locale="<%= @locale.name %>" href="#" tabindex="-1" title="Use Google Translate">
    <%= image_tag "https://d1lfff0eu0tys6.cloudfront.net/google_icon.png", width: 13, height: 13 %>
    Translate all
  </a>
</div>