<% content_for :locale do %><span class="locale"><%= @locale.name %> <em>(primary)</em></span> <span class="note">Tolk treats the primary translation as readonly</span>
<% end %>

<h3>All translations</h3>

<table class="translations all">
  <tr>
    <th class="key">Phrase</th>
    <th class="translation">Translation</th>
  </tr>
  <% @locale.phrases_with_translation.each do |phrase| %>
    <tr>
      <td>
        <%= phrase.key %>
      </td>
      <td>
        <%= phrase.translation.text %>
      </td>
    </tr>
  <% end %>
</table>
