<h1>Applications</h1>

<ul>
<% for application in @applications %>
  <li><%= link_to(application.name, application) %></li>
<% end %>
</ul>

<% form_for(Application.new) do |f| %>
  <p>
    Name:<br />
    <%= f.text_field :name %>
  </p>

  <p>
    Location:<br />
    <%= f.text_field :location %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>